{
    "branches": [
      {
        "name": "main",
        "prerelease": "staging"
      },
      {
        "name": "production",
        "prerelease": false
      }
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/github"
    ]
  }
  